@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

@font-face {
  font-family: "Monocraft";
  src: url("./assets/fonts/Monocraft.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Monocraft", monospace;
}
